<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Prologue: The Empire of Euclidea</string>
	<key>Version</key>
	<string>1.0</string>
	<key>CutsceneReference</key>
	<string>prologue/prologue.html</string>
</dict>
</plist>
